<script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
<script src="/js/editBlog.js"></script>
<link href="/css/admin.css" rel="stylesheet" />
<div class="form__AddBlog">
  <h1 class="title__Function">Add blog</h1>
  <div id="editorjs"></div>
  <button id="save-button" class="btn btn-Save btn-Save-addBlog">Save</button>
  <pre id="output"></pre>
</div>

<script>
  const editor = new EditorJS({
    autofocus: true,
    holder: "editorjs",
    tools: {
      image: {
        class: SimpleImage,
        inlineToolbar: true
      }
    },
    
  });


 // Save Button Logic
 const saveButton = document.getElementById("save-button");
  const output = document.getElementById("output");
  saveButton.addEventListener("click", () => {
    editor.save().then(async (savedData) => {
      output.innerHTML = JSON.stringify(savedData, null, 4);
      const postData = {
        title: savedData.blocks[0].data.title,
        category: savedData.blocks[0].data.category,
        date: savedData.blocks[0].data.date,
        shortContent: savedData.blocks[0].data.shortContent,
        content: savedData.blocks[0].data.content,
        author: savedData.blocks[0].data.author,
        img: savedData.blocks[0].data.img,
        imgFooter: savedData.blocks[0].data.imgFooter,
      };
      try {
        const response = await fetch("/add", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(postData),
        });
        const data = await response.json();
        console.log(data);
        if (data.success) {
          alert("Data saved successfully!"); // Alert success
          window.location.href = "/adminUI"; // Redirect to dashboard
        } else {
          alert("Error saving post.");
        }
      } catch (error) {
        console.error("There was an error saving the post:", error);
      }
    });
  });
</script>
