<ul class="sidebar-nav" id="sidebar-nav">
  <li class="nav-item">
    <a class="nav-link" href="/adminUI">
      <span>Dashboard</span>
    </a>
  </li>
  <!-- End Dashboard Nav -->

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      data-bs-target="#blog-nav"
      data-bs-toggle="collapse"
      href="#"
    >
      <span>Blog</span>
    </a>
  </li>
  <!-- End Blog Nav -->

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      data-bs-target="#components-nav"
      data-bs-toggle="collapse"
      href="#"
    >
      <span>Components</span>
    </a>
  </li>
  <!-- End Components Nav -->

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      data-bs-target="#images-nav"
      data-bs-toggle="collapse"
      href="#"
    >
      <span>Images</span>
    </a>
  </li>
  <!-- End Images Nav -->

  <li class="nav-item">
    <a
      class="nav-link collapsed"
      data-bs-target="#comments-nav"
      data-bs-toggle="collapse"
      href="#"
    >
      <span>Comments</span>
    </a>
  </li>
  <!-- End Comments Nav -->

  <li class="nav-heading">Pages</li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="users-profile">
      <span>Profile</span>
    </a>
  </li>
  <!-- End Profile Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="register">
      <span>Register</span>
    </a>
  </li>
  <!-- End Register Page Nav -->

  <li class="nav-item">
    <a class="nav-link collapsed" href="login">
      <span>Login</span>
    </a>
  </li>
  <!-- End Login Page Nav -->

</ul>
